* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#sepet {
    height: 400px;
    width: 350px;
    background-color: whitesmoke;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    left: 140%;
    transition: all 1s linear;
    overflow-x: hidden;
}

.aktif {
    left: -900% !important;
}